.breadcums {
    width: 100%;
    display: block;
}
.imgBreadcumb {
    float: left;
    width: 5%;
}

.mainBreadcums {
    float: left;
}

.mainBreadcums h1 {
    color: #4267b2;
    font-weight: 700;
    font-size: 25px;
}