.breadcums {
    width: 100%;
    display: block;
}
.imgBreadcumb {
    float: left;
    width: 70px;
}

.mainBreadcums {
    float: left;
}

.mainBreadcums h1 {
    color: #4267b2;
    font-weight: 700;
    font-size: 22px;
}

.itemBreadcums {
	height: 30px !important;
	font-size: 12px !important;
}