.panel {
    background: url('http://thisinh.thithptquocgia.edu.vn/Content/bootstrap/images/dot-2.png');
    border-radius: 5px;
    width: 980px;
    margin: 10% auto 0 auto;
    margin-top: 15px;
    padding: 1px;
}
.loginPanel {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
}