.headerMain {
    width: 100%;
    padding: 2px 0 0 0;
    background-color: #455e6b;
}

.ctn {
    padding-right: 30px;
    padding-left: 30px;
}

.logo a {
    background-size: cover;
    width: 178px;
    height: 30px;
    margin-top: 4px;
}
