.panel {
    background: url('http://thisinh.thithptquocgia.edu.vn/Content/bootstrap/images/dot-2.png');
    border-radius: 5px;
    margin: 10% auto 0 auto;
    margin-top: 15px;
    padding: 1px;
}

.panel .wrapPanel {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
}

@media only screen and (max-width: 1140px) {
    .panel .wrapPanel {
        margin: 10px;
        padding: 20px 0px;
    }
}