.leftContent {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.leftContent a {
    padding-top: 15px;
    padding-bottom: 15px;
}


.leftContent a span {
    font-weight: 300;
    color: rgb(86, 110, 122);
    font-size: 12px;
}

.wrapperContentLeft {
    display: block;
}
