.formSign {
    width: 100%;
    display: inline-block;
    padding: 15px 24px 30px 24px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 4px;
}

.formSign label {
    font-size: 14px;
    line-height: 18px;
}

.formSign h3 {
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    background-color: #455e6b;
    font-weight: 300;
    color: #ffffff;
    border-radius: 4px;
    font-size: 22px;
}
