.main {
    height: 100%;
    background-color: #fafafa;
}


.mainWrapper {
    background-color: #fdfdfd;
}

.mainWrapper input, .mainWrapper select, .mainWrapper option, .mainWrapper{
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 7px;
}


