:global #icCard {
    display: inline-block;
    margin-top: 1px; 
    width: 15px;
    height: 15px;
    background-image: url(./images/ic-cast-black.png);
    background-repeat: no-repeat;
    background-size: cover;
}

:global #icUser {
    display: inline-block;
    margin-top: 1px; 
    width: 15px;
    height: 15px;
    background-image: url(./images/ic-user-black.png);
    background-repeat: no-repeat;
    background-size: cover;
}