.ToolBar a {
    font-size: 11px;
    font-weight: 400;
    padding: 5px 15px;
    text-transform: none;
    border-radius: 4px;
    border:  none;
}

.ToolBar button svg {
    font-size: 13px;
}

.count {
    display: flex;
}

.count span {
    color: #445e6c;
    font-size: 14px;
    font-weight: 500;
}