.headerTopMenu {
    background-color: #566e7a;
    padding: 0 10px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.headerTopMenu  img {
    width: 50px;
    margin-top: 7px;
    border-radius: 4px;
}

.detailtAccount {
    width: 100%;
    margin: 14px 0;
}

.detailtAccount li {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    padding: 6px 10px;
}

.detailtAccount li i {
    font-size: 15px;
}