.buttonConfigBlank {
    width: 100%;
    padding: 30px 20px;
    background-color: white;
    border: 1px dashed #d6d2d2;
    border-radius: 4px;
    margin-top: 80px;
    font-weight: 300;
    color: #969696;
    text-align: center;
    font-size: 11px;
}