/* 
   name: Header css 
   version: 1.0
   author: huyducact@gmail.com

*/
.headerTop {
    border-bottom: 1px solid #ddd;  
    min-height: 68px;
}
.fixedHeight {
    height: 65px;
}
:global .wrapIcon li {
    padding: 0 0 0 20px;
}
/* li.pullRight {
    padding-left: 20px;
    padding-right: 0;
} */


