.formEditAccount {
	padding: 30px 24px;
	border: 1px solid #ececec;
    border-radius: 2px;
    background-color: white;
    margin-top: 25px;
    font-size: 11px;
}

.popupForm p {
    font-size: 11px;
    font-weight: 500;
    color:  #777777;
}
.rightContent {
    width: 100%;
}

.avatar {
    width: 192px;
    height: 192px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    object-fit: cover;
}