.footer {
    font-family: 'Thasadith', sans-serif;
    font-weight: 600;
    background-color: #333333;
    padding: 20px 0;
}

:global .footer-section {
    width: 100%;
    padding: 20px 0;
    text-align: left;
    color: white;
}

:global .footer-section > .info {
    margin-top: 15px;
    margin-bottom: 20px;
}

:global .footer-section > .footer-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 100;
    font-size: 22px;
}


