.leftContent {
    display: block;
    position: relative;
    width: 100%;
}

.leftContent a {
    padding-top: 15px;
    padding-bottom: 15px;
}


.leftContent a span {
    color: rgb(86, 110, 122);
    font-size: 13px;
}

.wrapperContentLeft {
    display: block;
}
