.ToolBar button {
    margin: 0 5px;
    box-shadow: none;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 20px;
    text-transform: none;
    background-color: #ffffff;
    color: #405e6f;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.ToolBar button svg {
    font-size: 18px;
}

.count {
    display: flex;
}

.count span {
    color: #445e6c;
    font-size: 15px;
    font-weight: 500;
}