.HeaderAppBar {
    line-height: 20px;
}

.appBar {
    width: 100%;
    display: block;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
}

.appBar a {
    height: 100%;
    display: inline-block;
    font-weight: 600;
    color: #455e6b;
    padding: 19px 25px 15px;
}

.appBar a:hover {
    background-color: #fafafa;
}